.layersWrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
}
.startPosterLayer {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  background-color: brown;
}

.endPosterLayer {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  background-color: aqua;
}

.playIconLayer {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: 20%;
  background-repeat: no-repeat;
  z-index: 2;
  position: absolute;
  top: 0px;
  left: 0px;
}
